<app-empl-navbar></app-empl-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 class="text-center text-primary mb-4">My Logs</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
                    <table class="table justify-content-center table-striped table-bordered mb-5">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-center" scope="col">Date</th>
                                <th class="text-center" scope="col">Entry Time</th>
                                <th class="text-center" scope="col">Exit Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="loading; then loadingScreen; else dataScreen"></ng-container>
                            <ng-template #loadingScreen class="text-center">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-info" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </ng-template>
                            <ng-template #dataScreen>
                                <tr *ngFor="let i of empLogs">
                                    <td class="text-center">{{i.date}}</td>
                                    <td class="text-center">{{i.entryTime}}</td>
                                    <td class="text-center" *ngIf="i.exitTime!=null;else temp ">{{i.exitTime}}</td>
                                    <ng-template #temp><td class="text-center">not exited</td></ng-template>
                                </tr>
                            </ng-template>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>