<app-security-nav></app-security-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center mt-5">
            <div style="width: 100rm;" class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
                    <h1>Visitors Log</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Visitor Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Enter name...">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Visitor Phone number</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone" placeholder="Enter phone...">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center mt-3">
                    <button class="btn btn-primary mx-2" (click)="addEntry()">Add Entry</button>
                    <button class="btn btn-primary" (click)="addExit()">Add Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>
