<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/employeeLog">Nest App | Security</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/employeeLog">Employee Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewSecEmpLog">View Employee Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visitorLog">Visitors Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewSecVisLog">View Visitors Logs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewSecurityProfile">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>